   
 
            <div class="row">
                <div class="col-lg-6 col-lg-push-6 col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"><%= image_tag 'iphone.svg', class:"visible-md-inline hidden-xs hidden-lg device"%>
                        <div class="screen"></div>
                    </div>
                    <div class="imac-mockup"><%= image_tag 'imac.svg',class:"hidden-xs hidden-sm hidden-md device"%>
                        <div class="screen"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-3 get-it">
                    <% if current_user %>

                    <h1>Welcome </h1>
                    <h2>Organization: <%= @tenant.name %></h2>
                    <% else %>
                    <h1>Digital Design Solutions</h1>
                    
                    <div class="iphone-mockup">
                        <div class="screen"></div>
                    </div>
                    <p>You'll love managing your project with our SaaS application. Please take a look at our great plans</p>
                    <p><%= link_to 'Free Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-primary btn-lg sign-up' %><%= link_to 'Premium Services', new_user_registration_path(plan: 'premium'), class: 'btn btn-success btn-lg sign-up' %></p>
                    <% end %>
                </div>
            </div>
    <%= render 'layouts/pitch' %>  



